@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-image: none;
    height: fit-content;
}
.main-produtos h1{
    font-size: 30px;
    font-family: "Baskervville", sans-serif;
    color: var(--azul-escuro);
}
body{
    background-image: url(images/Blue_Red_Cute_Circle_Illustrative_Japanese_Food_Logo__3_-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    backdrop-filter: blur(2px);
}
.texto p{
    font-family: "Baskervville";
    font-weight: 600;
}